@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
}

body {
  background-color: var(--Eggshell);
}

.container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  width: 720px;
  background-color: var(--White);
  border-radius: 16px;
}

.wrapper {
  padding: 40px;
  line-height: 25px;
}

.wrapper img {
  width: 100%;
  border-radius: 16px;
}

.wrapper h1 {
  font-family: Young Serif, sans-serif;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--Dark-Charcoal);
}

.wrapper h2 {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--Nutmeg);
  font-weight: 600;
}

.wrapper p {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
  color: var(--Wenge-Brown);
}

.wrapper li {
  padding-bottom: 10px;
  padding-left: 15px;
}

.wrapper hr {
  border: 1px solid var(--Light-Grey);
}

.wrapper-preparation {
  background-color: var(--Rose-White);
  padding: 15px;
  font-weight: 600;
  border-radius: 16px;
}

.wrapper-preparation h3 {
  padding-bottom: 15px;
  font-family: Outfit, sans-serif;
  font-weight: 600;
  color: var(--Dark-Raspberry);
}

.list-preparation {
  font-family: Outfit, sans-serif;
  margin-left: 20px;
  color: var(--Wenge-Brown);
}

.list-preparation strong {
  color: var(--Wenge-Brown);
}

.list-preparation ::marker {
  color: var(--Dark-Raspberry);
}

.list-Ingredients {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  color: var(--Wenge-Brown);
  padding-bottom: 15px;
  margin-left: 20px;
}

.list-Ingredients ::marker {
  color: var(--Nutmeg);
}

.list-Instructions {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  color: var(--Wenge-Brown);
  padding-bottom: 15px;
  margin-left: 20px;
}

.list-Instructions ::marker {
  color: var(--Nutmeg);
  font-weight: 600;
}

.list-Instructions strong {
  color: var(--Wenge-Brown);
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}

th {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: var(--Wenge-Brown);
  font-weight: 400;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--Nutmeg);
  font-weight: 600;
}

tr {
  border-bottom: 1px solid var(--Light-Grey);
}

tr:last-child {
  border-bottom: none;
}