@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

body {
  background-color: var(--Eggshell);
}

.container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 768px;
  background-color: var(--White);
}

.wrapper {
  padding: 30px;
}

.wrapper img {
  width: 100%;
}

